In [1]:
import numpy as np
import pandas as pd

In [2]:
states = ["Ohio", "New York", "Vermont", "Florida",
          "Oregon", "Nevada", "California", "Idaho"]
group_key = ["East", "East", "East", "East",
             "West", "West", "West", "West"]
data = pd.Series(np.random.standard_normal(8), index=states)
data[["Vermont", "Nevada", "Idaho"]] = np.nan
data
data.groupby(group_key).size()
data.groupby(group_key).count()
data.groupby(group_key).mean()

East   -0.178746
West    0.700581
dtype: float64

In [3]:
data[["Vermont", "Nevada", "Idaho"]] = np.nan
data
data.groupby(group_key).size()
data.groupby(group_key).count()
data.groupby(group_key).mean()

East   -0.178746
West    0.700581
dtype: float64

In [4]:
def fill_mean(group):
    return group.fillna(group.mean())

data.groupby(group_key).apply(fill_mean)

East  Ohio          0.918950
      New York     -0.688230
      Vermont      -0.178746
      Florida      -0.766958
West  Oregon        0.452453
      Nevada        0.700581
      California    0.948708
      Idaho         0.700581
dtype: float64

In [5]:
fill_values = {"East": 0.5, "West": -1}
def fill_func(group):
    return group.fillna(fill_values[group.name])

data.groupby(group_key).apply(fill_func)

East  Ohio          0.918950
      New York     -0.688230
      Vermont       0.500000
      Florida      -0.766958
West  Oregon        0.452453
      Nevada       -1.000000
      California    0.948708
      Idaho        -1.000000
dtype: float64

In [6]:
suits = ["H", "S", "C", "D"]  # Hearts, Spades, Clubs, Diamonds
card_val = (list(range(1, 11)) + [10] * 3) * 4
base_names = ["A"] + list(range(2, 11)) + ["J", "K", "Q"]
cards = []
for suit in suits:
    cards.extend(str(num) + suit for num in base_names)

deck = pd.Series(card_val, index=cards)

In [7]:
deck.head(13)

AH      1
2H      2
3H      3
4H      4
5H      5
6H      6
7H      7
8H      8
9H      9
10H    10
JH     10
KH     10
QH     10
dtype: int64

In [8]:
def draw(deck, n=5):
    return deck.sample(n)
draw(deck)

AH     1
KS    10
QH    10
2D     2
8S     8
dtype: int64

In [9]:
def get_suit(card):
    # last letter is suit
    return card[-1]

deck.groupby(get_suit).apply(draw, n=2)

C  10C    10
   3C      3
D  10D    10
   AD      1
H  6H      6
   KH     10
S  JS     10
   4S      4
dtype: int64

In [10]:
deck.groupby(get_suit, group_keys=False).apply(draw, n=2)

QC    10
7C     7
2D     2
3D     3
2H     2
4H     4
QS    10
8S     8
dtype: int64

In [11]:
df = pd.DataFrame({"category": ["a", "a", "a", "a",
                                "b", "b", "b", "b"],
                   "data": np.random.standard_normal(8),
                   "weights": np.random.uniform(size=8)})
df

  category      data   weights
0        a -0.874279  0.464290
1        a  0.910834  0.568262
2        a  0.267241  0.377574
3        a -1.022781  0.356351
4        b  1.420747  0.337612
5        b  0.549279  0.948102
6        b -0.017391  0.411910
7        b  0.812022  0.442152

In [12]:
grouped = df.groupby("category")
def get_wavg(group):
    return np.average(group["data"], weights=group["weights"])

grouped.apply(get_wavg)

C:\Users\dell\AppData\Local\Temp\ipykernel_12300\505683550.py:5: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  grouped.apply(get_wavg)

category
a   -0.085986
b    0.631985
dtype: float64

In [13]:
# Read the CSV file
close_px = pd.read_csv("stock_px.csv", parse_dates=True, index_col=0)

# Display DataFrame information
close_px.info()

# Display the last 4 rows of the DataFrame
print(close_px.tail(4))  # Add print to display the rows

# Define the spx_corr function
def spx_corr(group):
    return group.corrwith(group["SPX"])

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5472 entries, 1990-02-01 to 2011-10-14
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   AA      5472 non-null   float64
 1   AAPL    5472 non-null   float64
 2   GE      5472 non-null   float64
 3   IBM     5472 non-null   float64
 4   JNJ     5472 non-null   float64
 5   MSFT    5472 non-null   float64
 6   PEP     5471 non-null   float64
 7   SPX     5472 non-null   float64
 8   XOM     5472 non-null   float64
dtypes: float64(9)
memory usage: 427.5 KB
               AA    AAPL     GE     IBM    JNJ   MSFT    PEP      SPX    XOM
2011-10-11  10.30  400.29  16.14  185.00  63.96  27.00  60.95  1195.54  76.27
2011-10-12  10.05  402.19  16.40  186.12  64.33  26.96  62.70  1207.25  77.16
2011-10-13  10.10  408.43  16.22  186.82  64.23  27.18  62.36  1203.66  76.37
2011-10-14  10.26  422.00  16.60  190.53  64.72  27.27  62.24  1224.58  78.11

In [14]:
def spx_corr(group):
    return group.corrwith(group["SPX"])

In [15]:
rets = close_px.pct_change(fill_method=None).dropna()

In [16]:
def get_year(x):
    return x.year

by_year = rets.groupby(get_year)
by_year.apply(spx_corr)

,AA,AAPL,GE,IBM,JNJ,MSFT,PEP,SPX,XOM
1990,0.595024,0.545067,0.752187,0.738361,0.801145,0.586691,0.783168,1.0,0.517586
1991,0.453574,0.365315,0.759607,0.557046,0.646401,0.524225,0.641775,1.0,0.569335
1992,0.398180,0.498732,0.632685,0.262232,0.515740,0.492345,0.473871,1.0,0.318408
1993,0.259069,0.238578,0.447257,0.211269,0.451503,0.425377,0.385089,1.0,0.318952
1994,0.428549,0.268420,0.572996,0.385162,0.372962,0.436585,0.450516,1.0,0.395078
1995,0.291532,0.161829,0.519126,0.416390,0.315733,0.453660,0.413144,1.0,0.368752
1996,0.292344,0.191482,0.750724,0.388497,0.569232,0.564015,0.421477,1.0,0.538736
1997,0.564427,0.211435,0.827512,0.646823,0.703538,0.606171,0.509344,1.0,0.695653
1998,0.533802,0.379883,0.815243,0.623982,0.591988,0.698773,0.494213,1.0,0.369264
1999,0.099033,0.425584,0.710928,0.486167,0.517061,0.631315,0.336593,1.0,0.315383
2000,0.265359,0.440161,0.610362,0.445114,0.189765,0.538005,0.077525,1.0,0.084163
2001,0.624069,0.577152,0.794632,0.696038,0.111493,0.696447,0.133975,1.0,0.336869
2002,0.745836,0.592624,0.820656,0.717968,0.582483,0.784012,0.490746,1.0,0.759561
2003,0.690466,0.545582,0.777643,0.741775,0.562399,0.750534,0.541487,1.0,0.662775
2004,0.591485,0.374283,0.728626,0.601740,0.354690,0.588531,0.466854,1.0,0.557742
2005,0.564267,0.467540,0.675637,0.516846,0.444728,0.562374,0.489559,1.0,0.631010
2006,0.487638,0.428267,0.612388,0.598636,0.394026,0.406126,0.335054,1.0,0.518514
2007,0.642427,0.508118,0.796945,0.603906,0.568423,0.658770,0.651911,1.0,0.786264
2008,0.781057,0.681434,0.777337,0.833074,0.801005,0.804626,0.709264,1.0,0.828303
2009,0.735642,0.707103,0.713086,0.684513,0.603146,0.654902,0.541474,1.0,0.797921
2010,0.745700,0.710105,0.822285,0.783638,0.689896,0.730118,0.626655,1.0,0.839057
2011,0.882045,0.691931,0.864595,0.802730,0.752379,0.800996,0.592029,1.0,0.859975

In [17]:
def corr_aapl_msft(group):
    return group["AAPL"].corr(group["MSFT"])
by_year.apply(corr_aapl_msft)

1990    0.408271
1991    0.266807
1992    0.450592
1993    0.236917
1994    0.361638
1995    0.258642
1996    0.147539
1997    0.196144
1998    0.364106
1999    0.329484
2000    0.275298
2001    0.563156
2002    0.578729
2003    0.486262
2004    0.259024
2005    0.300093
2006    0.161735
2007    0.417738
2008    0.611901
2009    0.432738
2010    0.571946
2011    0.581987
dtype: float64

In [18]:
pip install statsmodels

Requirement already satisfied: statsmodels in c:\users\dell\miniconda3\lib\site-packages (0.14.4)
Requirement already satisfied: numpy<3,>=1.22.3 in c:\users\dell\miniconda3\lib\site-packages (from statsmodels) (2.2.2)
Requirement already satisfied: scipy!=1.9.2,>=1.8 in c:\users\dell\miniconda3\lib\site-packages (from statsmodels) (1.15.1)
Requirement already satisfied: pandas!=2.1.0,>=1.4 in c:\users\dell\miniconda3\lib\site-packages (from statsmodels) (2.2.3)
Requirement already satisfied: patsy>=0.5.6 in c:\users\dell\miniconda3\lib\site-packages (from statsmodels) (1.0.1)
Requirement already satisfied: packaging>=21.3 in c:\users\dell\miniconda3\lib\site-packages (from statsmodels) (23.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\dell\miniconda3\lib\site-packages (from pandas!=2.1.0,>=1.4->statsmodels) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\dell\miniconda3\lib\site-packages (from pandas!=2.1.0,>=1.4->statsmodels) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\dell\miniconda3\lib\site-packages (from pandas!=2.1.0,>=1.4->statsmodels) (2025.1)
Requirement already satisfied: six>=1.5 in c:\users\dell\miniconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas!=2.1.0,>=1.4->statsmodels) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [19]:
import statsmodels.api as sm
def regress(data, yvar=None, xvars=None):
    Y = data[yvar]
    X = data[xvars]
    X["intercept"] = 1.
    result = sm.OLS(Y, X).fit()
    return result.params

In [20]:
by_year.apply(regress, yvar="AAPL", xvars=["SPX"])

           SPX  intercept
1990  1.512772   0.001395
1991  1.187351   0.000396
1992  1.832427   0.000164
1993  1.390470  -0.002657
1994  1.190277   0.001617
1995  0.858818  -0.001423
1996  0.829389  -0.001791
1997  0.749928  -0.001901
1998  1.164582   0.004075
1999  1.384989   0.003273
2000  1.733802  -0.002523
2001  1.676128   0.003122
2002  1.104047  -0.000445
2003  1.187770   0.000690
2004  1.363463   0.004201
2005  1.766415   0.003246
2006  1.645496   0.000080
2007  1.198761   0.003438
2008  0.968016  -0.001110
2009  0.879103   0.002954
2010  1.052608   0.001261
2011  0.806605   0.001514